<div class="footer">
    <div class="footer-inner-text">
      <p class="footer-text">Visit our web-site:<strong> cinema@movie.org</strong></p>
      <p class="footer-text-below" >Contact us <span class="footer-text-below-inner">+0155788093156</span></p>
    </div>
</div>
