.footer{
  background-color: rgba(0, 17, 157, 0.8); color: rgba(0, 17, 157, 0.8);
  margin-top: 1150px;
}

.footer-text{
  color: white;
  margin: auto;
}

.footer-text-below{
  color: white;
}

.footer-text-below-inner{
  margin: 0;
}
