<div class="movie-block">
  <app-movie name="Last Night in Soho" year="2021" icon="https://i.ytimg.com/vi/jko2KPj6eFo/maxresdefault.jpg"></app-movie>
  <app-movie name="Antlers" year="2021" icon="https://m.media-amazon.com/images/M/MV5BMTY1OTY2NzItNWVkYi00ODRjLTg5OTItMDMxN2U2NmEwYjhlXkEyXkFqcGdeQXVyMTI0NTE1Njg4._V1_.jpg"></app-movie>
  <app-movie name="Planet Dune" year="2021" icon="https://m.media-amazon.com/images/M/MV5BYzVkNjZlMDctODEzMy00MWE1LWI4YTUtZjdmNDZhYmZhODI0XkEyXkFqcGdeQXVyNTkzMzg3NDM@._V1_.jpg"></app-movie>
  <app-movie name="My Hero Academia: World Heroes' Mission" year="2021" icon="https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/cdce2802-5c34-4d5a-96c9-d14ad70f14fd/600x900"></app-movie>
</div>
