<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Movies</a></li>
    <li class="breadcrumb-item active" aria-current="page">Cinemas</li>
    <li class="breadcrumb-item"><a href="#">For Kids</a></li>
    <li class="breadcrumb-item"><a href="#">For whole family</a></li>
    <li class="breadcrumb-item"><a href="#">Cartoons</a></li>
  </ol>
</nav>
