

  <div class="mov cols-2 cols-md-3 cols-xl-4">
    <div class="col h-100">
      <div class="card">
        <img src="{{icon}}" class="card-img-top" alt="movie-icon">
        <div class="card-body">
          <h2>{{name}}</h2>
          <p class="card-text">Produced in: {{year}}</p>
        </div>
      </div>
    </div>
  </div>




